<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("header.ejs") %>
    <p>Products</p>
    <ul>
        <% product.forEach((x)=>{%>
         <ul>
            <li>Name: <%= x.name %></li>
            <li>Id: <%= x.id %></li>
            <li>Description: <%= x.description %></li>
            <li>Price: <%= x.price%></li>
            
         </ul>
        </br >
         <form action="/addToCart" method="post">
            <input type="submit" value="Add to Cart">
        </form>
          </br >
        <%}) %>
        
    </ul>
    
</body>
</html>