<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("header.ejs") %>
    <p>Shopping Cart</p>
    <ul>
        <% shoppingcart.forEach((x)=>{%>
         <ul>
            <li>Name: <%= x.name %></li>
            <li>Id: <%= x.id %></li>
            <li>quantity: <%= x.quantity %></li>
            <li>Price: <%= x.price%></li>
            
         </ul>
        </br >
         <form action="/remove" method="post">
             <input type="hidden" name = "id" value="<%= x.id %>">
            <input type="submit" value="Remove from cart">
        </form>
          </br >
        <%}) %>
        
    </ul>
    
</body>
</html>